.pokemon-item {
  z-index: 999;
  display: flex;
  align-items: center;
  padding: 16px;
  width: 80%;
  background-color: #ffffff;
  border: 1px solid #000000;
  cursor: pointer;
  box-shadow: 4px 4px 0px 0px #828aff;
  
  /* Transição suave para quando o efeito de mola for ativado */
  transition: transform 0.3s cubic-bezier(0.25, 1, 0.5, 1), 
              box-shadow 0.3s ease, 
              background-color 0.2s ease;
              
  transform-origin: center left; /* Faz expandir para a direita */
}

.pokemon-icon {
  width: 3.5rem;
  height: 3.5rem;
}
